<div class="search-bar">
    <input type="text" placeholder="Search..." style="width: 100%;">
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
        </ng-container>

        <ng-container matColumnDef="creationTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Time</th>
            <td mat-cell *matCellDef="let element">{{element.creationTime}}</td>
        </ng-container>

        <ng-container matColumnDef="responsible">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsible</th>
            <td mat-cell *matCellDef="let element">{{element.responsible}}</td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef >Options</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button (click)="view(element)">View</button>
            <button mat-button (click)="delete(element)">Delete</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
    <mat-paginator #paginator [length] = "100" [pageSizeOptions]="[5, 10, 20]" label = "f" aria-label="select page"  showFirstLastButtons>
    <span id="mat-paginator-page-size-label-0">Ite per page:</span>
    </mat-paginator>
</div>
  