<h1>{{ 'newDocument.title' | translate }}</h1>
<label>{{ 'newDocument.name' | translate }}</label>
<mat-form-field>
    <input matInput [(ngModel)]="name" name="name" placeholder="{{ 'newDocument.name' | translate }}">
</mat-form-field>
<div>
    <label>{{ 'newDocument.type' | translate }}</label>
    <mat-form-field>
      <mat-select [(ngModel)]="type" name="type" placeholder="{{ 'newDocument.type' | translate }}">
        <mat-option *ngFor="let type of types" [value]="type.formType">{{type.formType}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <label>{{ 'newDocument.responsible' | translate }}</label>
    <mat-form-field>
      <mat-select [(ngModel)]="responsible" name="responsible" placeholder="{{ 'newDocument.responsible' | translate }}">
        <mat-option *ngFor="let user of users" [value]="user.userName">{{user.userName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="close()">{{ 'newDocument.cancelButton' | translate }}</button>
    <button mat-button class="save-button"  (click)="save()">{{ 'newDocument.saveButton' | translate }}</button>
</div>