  h1 {
        padding: 0 10px;
  }
  
  div[mat-dialog-content] {
    padding: 0 10px;
  }
  
  div[mat-dialog-actions] {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 10px;
  }
  
  button[mat-button]:first-child {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px;
    background-color: orange;
    color: black;
  }
  
  button[mat-button]:last-child {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    margin: 5px;
    background-color: rgb(158, 2, 2);
    color: white;
  }