.menu {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .website-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  .menu-links button,
  .user-options button {
    color: #495057;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      color: #212529;
      background-color: #e9ecef;
    }
  
    &:active {
      color: #212529;
      background-color: #ced4da;
    }
  
    &.selected {
      color: #fff;
      background-color: #495057;
    }
  }