<div class="menu">
  <div class="website-name">DGS</div>
  <div class="menu-links">
    <button routerLink="/mani-dokumenti">Mani dokumenti</button>
    <button routerLink="/visi-dokumenti">Visi dokumenti</button>
    <button routerLink="/formas">Formas</button>
    <button routerLink="/lietotaji">Lietotāji</button>
  </div>
  <div class="user-options">
    <button routerLink="/valoda">Valoda</button>
    <button routerLink="/profils">Profils</button>
    <button (click)="logout()">Log Out</button>
  </div>
</div>