<div class="menu">
  <div class="website-name">{{ 'menu.DGS' | translate }}</div>
  <div class="menu-links">
    <button routerLink="/mani-dokumenti">{{ 'menu.Manidokumenti' | translate }}</button>
    <button routerLink="/visi-dokumenti">{{ 'menu.Visidokumenti' | translate }}</button>
    <button routerLink="/formas" *ngIf="rights?.admin">{{ 'menu.Formas' | translate }}</button>
    <button routerLink="/lietotaji" *ngIf="rights?.admin">{{ 'menu.Lietotajukontrole' | translate }}</button>
  </div>
  <div class="user-options">
    <div class="dropdown">
      <button class="dropbtn">{{ 'menu.Valodas' | translate }}</button>
      <div class="dropdown-content">
        <button [class.active]="selectedLanguage === 'en'" (click)="changeLanguage('en')">{{ 'menu.Anglu' | translate }}</button>
        <button [class.active]="selectedLanguage === 'lv'" (click)="changeLanguage('lv')">{{ 'menu.Latviesu' | translate }}</button>
      </div>
    </div>
    <button routerLink="/profils">{{ 'menu.Profils' | translate }}</button>
    <button (click)="logout()">{{ 'menu.Iziet' | translate }}</button>
  </div>
</div>