<div *ngIf="form">
  <form [formGroup]="form"  class="form-field" >
    <div class="fields-container">
      <div *ngFor="let field of displayData; index as i" [class.config-mode]="configMode" [ngStyle]="styleToObject(field.style,field.type)">
        <label *ngIf="field.type === 'label'">{{ field.value }}</label>
        <label *ngIf="field.type === 'label_dynamic'">{{ field.value }}</label>
        <input *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'password'" type="{{field.type}}" [formControlName]="field.name">
        <input *ngIf="field.type === 'checkbox'" type="checkbox" [formControlName]="field.name">
        <button *ngIf="field.type === 'saveButton'" [ngStyle]="fieldStyleToObject(field.style)" (click)="onSubmit()">{{ field.label }}</button>
        <button *ngIf="field.type === 'cancelButton'" [ngStyle]="fieldStyleToObject(field.style)" (click)="onCancel()">{{ field.label }}</button>
        <div class="field-icons" *ngIf="configMode">
          <mat-icon (click)="openFieldConfig(field)">settings</mat-icon> 
          <mat-icon (click)="confirmDelete(i)">delete</mat-icon>
        </div>
        <div class="field-icons" *ngIf="configMode">
          <mat-icon (click)="moveUp(i)">arrow_upward</mat-icon>
          <mat-icon (click)="moveDown(i)">arrow_downward</mat-icon> 
        </div>
      </div>
    </div>
    <div *ngIf="configMode" class="config-buttons-container" >
      <button mat-raised-button class="add-field-button" *ngIf="configMode" (click)="addField()">Add field</button>
    </div>
    <div class="config-buttons-container">
        <div class="left-side">
          <button *ngIf="!disableJsonView" type="button" class="viewJson-button" (click)="openJsonView()">View Json</button>
        </div>
        <div class="right-side">
          <button type="button" class="config-button" *ngIf="!configMode" (click)="openConfig()">Configure</button>
          <div *ngIf="configMode">
            <button type="button" class="save-button" (click)="saveConfig()">Save</button>
            <button type="button" class="cancel-button" (click)="cancelConfig()">Cancel</button>
          </div>
        </div>
      </div>
  </form>
</div>
<div *ngIf="viewJsonData" class="json-container">
<button (click)="viewJsonData = ''">Close</button>
<pre>{{ viewJsonData }}</pre>
</div>