form {
  position: relative;
  padding-bottom: 40px;
}

.form-field {
  position: relative;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fields-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 600px) {
  .form-field {
    flex-direction: row;
  }

  .fields-container {
    flex-direction: row;
  }
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: calc(100% - 20px); 
  box-sizing: border-box;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 10px;
}

input[type="checkbox"]:checked + label:before {
  background-color: deepskyblue;
  border-color: deepskyblue;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(23, 193, 88)
}

button:disabled {
  background-color: rgb(86, 86, 86)
}

.config-mode {
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  padding: 5px;
}

.config-buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.left-side {
  align-self: flex-start;
}

.right-side {
  align-self: flex-end;
}

.viewJson-button {
  background-color: rgb(55, 55, 247);
}

.config-button, .save-button, .cancel-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: rgb(55, 55, 247);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: rgb(1, 117, 1);
}

.save-button:hover {
  background-color: rgb(0, 200, 0); /* Light green */
}

.cancel-button {
  background-color: rgb(175, 175, 24);
}
.cancel-button:hover {
  background-color: rgb(200, 200, 0); /* Light yellow */
}
.field-icons {
  display: inline-grid;
  align-items: flex-start;
  margin: 5px;
}

label {
  margin: 5px;
  display: inline-block;
}

.json-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 15px;
  margin-bottom: 15px;
  overflow: auto;
}

.json-container pre {
  margin: 0;
}

.add-field-button {
  width: calc(100% - 40px); /* Subtract 20px margin from both sides */
  height: 50px; /* Adjust this value to increase the height */
  margin: 0 20px;
  background-color: lightgrey;
  color: black; 
  font-weight: bold;
}
.add-field-button:hover {
  background-color: gray; /* Light green */
  color: white;
}

mat-icon {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

mat-icon:hover {
  background-color: #e0e0e0; /* Light gray */
}

mat-icon:active {
  background-color: #b3b3b3; /* Dark gray */
}

.generate {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: rgb(55, 55, 247);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate:hover {
  background-color: rgb(23, 193, 88)
}

.generate:disabled {
  background-color: rgb(86, 86, 86)
}