<div *ngIf="form">
  <form [formGroup]="form"  class="form-field" >
    <div class="fields-container">
      <div *ngFor="let field of displayData; index as i" [class.config-mode]="configMode" [ngStyle]="styleToObject(field.style,field.type)">
        <label *ngIf="field.type === 'label'">{{ field.value }}</label>
        <label *ngIf="field.type === 'label_dynamic'">{{ field.value }}</label>
        <input *ngIf="field.type === 'text' || field.type === 'email' || field.type === 'password'" type="{{field.type}}" [formControlName]="field.name">
        <input *ngIf="field.type === 'checkbox'" type="checkbox" [formControlName]="field.name">
        <button *ngIf="field.type === 'saveButton'" [ngStyle]="fieldStyleToObject(field.style)" (click)="onSubmit()">{{ 'form.saveButton' | translate }}</button>
        <select *ngIf="field.type === 'statusDropdown'" [ngStyle]="fieldStyleToObject(field.style)" [formControlName]="field.name" class="my-dropdown">
          <option *ngFor="let option of statusList | keyvalue" [value]="option.value">
           {{ option.value }}
          </option>
        </select>
        <input *ngIf="field.type === 'date'" type="date" [value]="field.value" [formControlName]="field.name">
        <button *ngIf="field.type === 'cancelButton'" [ngStyle]="fieldStyleToObject(field.style)" (click)="onCancel()">{{ 'form.cancelButton' | translate }}</button>
        <button class="generate" *ngIf="field.type === 'generateButton'" mat-button [matMenuTriggerFor]="menu" appearance="fill">{{field.name}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onGenerate(field.filePath, 'word')"><mat-icon>picture_as_pdf</mat-icon> PDF</button>
          <button mat-menu-item (click)="onGenerate(field.filePath, 'pdf')"><mat-icon>description</mat-icon> Word</button>
        </mat-menu>
        <div class="field-icons" *ngIf="configMode  && hasAdminAccess()">
          <mat-icon (click)="openFieldConfig(field)">settings</mat-icon> 
          <mat-icon (click)="confirmDelete(i)">delete</mat-icon>
        </div>
        <div class="field-icons" *ngIf="configMode  && hasAdminAccess()">
          <mat-icon (click)="moveUp(i)">arrow_upward</mat-icon>
          <mat-icon (click)="moveDown(i)">arrow_downward</mat-icon> 
        </div>
      </div>
    </div>
    <div *ngIf="configMode" class="config-buttons-container" >
      <button mat-raised-button class="add-field-button" *ngIf="configMode  && hasAdminAccess()" (click)="addField()">{{ 'form.addFieldButton' | translate }}</button>
    </div>
    <div class="config-buttons-container">
        <div class="left-side">
          <button *ngIf="!disableJsonView  && hasAdminAccess()" type="button" class="viewJson-button" (click)="openJsonView()">{{ 'form.viewJsonButton' | translate }}</button>
          <button *ngIf="(isOwner() || hasShareRights()) && !configMode" type="button" class="viewJson-button" (click)="ShareDocument()">{{ 'form.shareDocumentButton' | translate }}</button>
        </div>
        <div class="right-side">
          <button type="button" class="config-button" *ngIf="!configMode  && hasAdminAccess()" (click)="openConfig()">{{ 'form.configButton' | translate }}</button>
          <div *ngIf="configMode && rights.admin">
            <button type="button" class="save-button" (click)="saveConfig()">{{ 'form.saveConfigButton' | translate }}</button>
            <button type="button" class="cancel-button" (click)="cancelConfig()">{{ 'form.cancelConfigButton' | translate }}</button>
          </div>
        </div>
      </div>
  </form>
</div>

<div *ngIf="viewJsonData  && hasAdminAccess()" class="json-container">
<button (click)="viewJsonData = ''">{{ 'form.closeButton' | translate }}</button>
<pre>{{ viewJsonData }}</pre>
</div>