<h1 mat-dialog-title>{{ 'changePassword.title' | translate }}</h1>
<label>{{ 'changePassword.newPassword' | translate }}:</label>
<mat-form-field>
    <input matInput [(ngModel)]="password" [type]="hidePassword ? 'password' : 'text'" placeholder="{{ 'changePassword.newPassword' | translate }}" (input)="validatePassword()">
    <button mat-icon-button class="visibal-Icon" matSuffix (click)="hidePassword = !hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
<div mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="onCancel()">{{ 'changePassword.cancelButton' | translate }}</button>
    <button mat-button class="save-button" [disabled]="!!errorMessage" (click)="onSubmit()">{{ 'changePassword.saveButton' | translate }}</button>
</div>