h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  mat-form-field {
    width: 95%;
    margin: 15px 0;
    padding: 0 5px; /* Add padding here */
    background-color: transparent;
  }
  
  input[matInput] {
    margin: 5px;
  }
  


.visibal-Icon {
  background-color: transparent !important;
  margin-right: 10px;
  border: none;
}
  

  .error {
    color: red;
    background-color: #ffe6e6; // light red
    padding: 10px;
    margin-left: 10px;
    margin-right: 30px;
    border-radius: 4px;
  }
  label {
    color: black;
    margin-left: 10px;
  }
  button[mat-button] {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    color: white;
  }
  
  .cancel-button {
    background-color: rgb(175, 175, 24);
  }
  
  .cancel-button:hover {
    background-color: rgb(200, 200, 0); /* Light yellow */
  }
  
  .save-button {
    background-color: rgb(1, 117, 1);
  }
  
  .save-button:hover {
    background-color: rgb(0, 200, 0); /* Light green */
  }
  
  .mat-dialog-content {
    padding: 20px;
  }