.cancel-button {
    background-color: rgb(175, 175, 24);
  }
  
.cancel-button:hover {
    background-color: rgb(200, 200, 0); /* Light yellow */
}
.save-button {
  background-color: rgb(1, 117, 1);
}

.save-button:hover {
  background-color: rgb(0, 200, 0); /* Light green */
}
h1{
    margin: 10px;
}
.field-config-text {
    margin: 10px;
  }
  .field-config-text input {
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
  }
  .mat-dialog-content {
    max-width: 500px;
    max-height: 400px;
    margin: 10px;
    overflow: auto;
  }
  .mat-select {
    height: 80px;
  }