.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-box,
  .info-box,
  .document-data-box {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
  }

  .change-button {
    border-radius: 10px;
    padding: 7px 10px;
    border: 0px;
    background-color: grey;
    color: white;
  }
  
  .change-button:hover {
    background-color: rgb(80, 80, 80);
  }