<div class="profile-container">
  <div class="profile-box">
    <h2>{{ 'profile.title' | translate }}</h2>
  </div>
  <div class="info-box">
    <p>{{ 'profile.name' | translate }}: {{ user?.name }}</p>
    <p>{{ 'profile.surname' | translate }}: {{ user?.surname }}</p>
    <p>{{ 'profile.username' | translate }}: {{ user?.userName }}</p>
    <p>{{ 'profile.email' | translate }}: {{ user?.email }}</p>
    <p>{{ 'profile.createdDate' | translate }}: {{ user?.createdDate}}</p>
    <p>{{ 'profile.lastUpdatedDate' | translate }}: {{ user?.lastUpdatedDate}}</p>
    <button class="change-button" (click)="changePassword()">{{ 'profile.changePassword' | translate }}</button>
  </div>
  <div class="document-data-box">
    <h2>{{ 'profile.documentData' | translate }}</h2>
    <p>{{ 'profile.documentCount' | translate }}: {{ documentCount }}</p>
    <p>{{ 'profile.sharedDocumentCount' | translate }}: {{ sharedDocumentCount }}</p>
  </div>
</div>