.forgot-password-card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .forgot-password-field {
    width: 100%;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }
  
  mat-dialog-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
  }
  
  button {
    text-transform: none;
  }
  
  button:hover {
    cursor: pointer;
  }