<form [formGroup]="forgotPasswordForm" class="forgot-password-card">
    <div class="forgot-password-field">
      <input formControlName="email" placeholder="Email">
      <button (click)="sendResetCode()">Send reset code</button>
    </div>
  
    <div class="forgot-password-field" *ngIf="resetCode">
      <input formControlName="code" placeholder="Reset code">
      <button (click)="verifyResetCode()">Verify reset code</button>
    </div>
  
    <div class="forgot-password-field" *ngIf="isResetCodeVerified">
      <input formControlName="newPassword" placeholder="New password">
      <button (click)="resetPassword()">Reset password</button>
    </div>
  </form>