<button class="add-type-button" (click)="addType()">{{ 'formSelector.addTypeButton' | translate }}</button>
<div> 
  <div *ngFor="let type of types">
    <div class="type-button" (click)="toggleForms(type)">
      <div>
        <div class="button-group">
          <button class="add-form-button" (click)="addForm(type); $event.stopPropagation()">{{ 'formSelector.addFormButton' | translate }}</button>
          <button class="edit-button" (click)="editType(type); $event.stopPropagation()">{{ 'formSelector.editButton' | translate }}</button>
          <button class="delete-button" (click)="deleteType(type); $event.stopPropagation()">{{ 'formSelector.deleteButton' | translate }}</button>
        </div>
        {{ type.name }}
      </div>
    </div>
    <div *ngIf="type.showForms">
      <div *ngFor="let form of type.forms" class="form-button">
        <div class="button-group">
            <button class="edit-button" (click)="editForm(type,form)">{{ 'formSelector.editButton' | translate }}</button>
            <button class="delete-button" (click)="deleteForm(type,form)">{{ 'formSelector.deleteButton' | translate }}</button>
        </div>
        {{ form.name }}
      </div>
    </div>
  </div>
</div>