.types-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .type-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 80%;
    height: 25px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    user-select: none;
  }
  
  .button-group {
    position: absolute;
    right: 10px;
  }
  

  
  .type-button .button-group {
    position: absolute;
    right: 10px; 
  }
  
  
  .type-button:hover {
    background-color: darkgrey;
  }
  
  .type-button button {
    border-radius: 10px; 
    margin-left: 10px; 
  }
  
  .type-button .edit-button {
    background-color: grey; 
    color: white;
    border: 0px ;
    padding: 7px 10px;
    display: flex-end;
  }

  .type-button .edit-button:hover {
    background-color: rgb(80, 80, 80); 
  }
  
  .type-button .delete-button {
    padding: 7px 10px;
    color: white;
    background-color: #dc3545; 
    border: 0px ;
  }
  
  .type-button .delete-button:hover {
    background-color: #c82333;
  }
  
  .form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80%;
    height: 25px;
    margin: 10px;
    margin-left: 10px ;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    user-select: none;
  }
  
  .form-button:hover {
    background-color: darkgrey;
  }
  
  .form-button button {
    border-radius: 10px;
    margin-left: 10px; 
  }
  
  .form-button .edit-button {
    background-color: grey; 
    border: 0px ;
    color: white;
    padding: 7px 10px;
    display: flex-end;
  }

  .form-button .edit-button:hover {
    background-color: rgb(80, 80, 80); 
  }
  
  .form-button .delete-button {
    padding: 7px 10px;
    color: white;
    background-color: #dc3545;
    border: 0px ;
  }
  
  .form-button .delete-button:hover {
    background-color: #c82333;
  }

  .add-type-button {
    background-color: #28a745; 
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    display: flex-end;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .add-type-button:hover {
    background-color: #218838; 
  }

  .add-form-button {
    background-color: #28a745; 
    border: none;
    color: white;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px; 
  }
  
  .add-form-button:hover {
    background-color: #218838; 
  }