<div class="popup">
  <h1 mat-dialog-title>{{ 'documentSharing.title' | translate }}</h1>
  <div mat-dialog-content>
    <p class="field-config-text">
      <label for="removeUsers">{{ 'documentSharing.removeUsersFromSharing' | translate }}</label>
      <mat-checkbox [(ngModel)]="removeUsers">{{ 'documentSharing.remove' | translate }}</mat-checkbox>
    </p>
    <p class="field-config-text">
      <label for="sharedUsers">{{ 'documentSharing.sharedUsers' | translate }}</label>
      <mat-form-field>
        <mat-select id="sharedUsers" [(value)]="selectedSharedUser" (selectionChange)="onSharedUserChange($event.value)">
          <mat-option [value]="null">{{ 'documentSharing.none' | translate }}</mat-option>
          <mat-option *ngFor="let user of sharedUsers" [value]="user.userID">{{ user.userName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p class="field-config-text">
      <label for="users">{{ 'documentSharing.users' | translate }}</label>
      <mat-form-field>
        <mat-select id="users" multiple [(value)]="selectedUsers">
          <mat-option *ngFor="let user of users" [value]="user.userID">{{ user.userName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p class="field-config-text">
      <label for="rights">{{ 'documentSharing.rights' | translate }}:</label>
      <mat-checkbox [(ngModel)]="selectedRights.read">{{ 'documentSharing.read' | translate }}</mat-checkbox>
      <mat-checkbox [(ngModel)]="selectedRights.write">{{ 'documentSharing.write' | translate }}</mat-checkbox>
      <mat-checkbox [(ngModel)]="selectedRights.delete">{{ 'documentSharing.delete' | translate }}</mat-checkbox>
      <mat-checkbox [(ngModel)]="selectedRights.share">{{ 'documentSharing.share' | translate }}</mat-checkbox>
    </p>
  </div>
  <div mat-dialog-actions>
    <button class="cancel-button" mat-button (click)="onNoClick()">{{ 'documentSharing.cancelButton' | translate }}</button>
    <button class="save-button" mat-button (click)="shareDocument()">{{ 'documentSharing.shareDocumentButton' | translate }}</button>
  </div>
</div>